<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <!--img class="user-avatar" src="assets/images/logo.png" width="150px" /-->
      <img src="assets/images/logo.png" width="250px" />
      <h1>SIGN IN</h1>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" formControlName="email" class="form-control">
          </div>
        </div>
                  
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" formControlName="password" class="form-control">
          </div>
        </div>
                
        <div class="row">
          <div class="col-6 text-left">
            <a class="text-muted" [routerLink]="['/signup']">
              สมัครสมาชิกใหม่ ?
            </a>
          </div>
          <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-lock" aria-hidden="true"></i>
              เข้าสู่ระบบ
            </button>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            สำหรับนักศึกษา
          </div>
          <div class="col-8">
            <a class="text-white" [routerLink]="['/']">
              <button class="btn btn-success">
                ดาวน์โหลด กระดาษ Quiz
              </button>
            </a>
          </div>
        </div>
      </form>
                  
            <!--form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form-->
        </div>
    </div>
</div>
