
<div [@routerTransition]>
<div *ngFor="let item of courseList ; let i = index" >
<div *ngFor="let g of groupList">
<div *ngIf="(item.id == courseId) && (g.id== groupId)">
<!--Start-->
  <!-- HEADER Start-->
  <div class="row">
    <div class="col-xl-12">

    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text text-dark "><i class="fa fa-pencil"></i></span>
        <span class="input-group-text text-dark"><b>{{item.id}} : {{item.name}}  &nbsp;&nbsp; {{item.trimester}}/{{item.year}}</b></span>
      </div>
      <!--input type="text" class="form-control" aria-label="Text input with segmented dropdown button"-->
      <div *ngIf="groupList.length==1" class="input-group-append">
        <span class="input-group-text text-muted">Group 1
          <span style="font-size: 12px">Course have only One Group</span>
        </span>
      </div>
      <div *ngIf="groupList.length!=1" ngbDropdown class="input-group-append">
        <!--span class="input-group-text" id="">{{g.name}}</span-->
        <!--div ngbDropdown class="d-inline-block dropdown"-->
        <button type="button" class="btn btn-outline-secondary" ngbDropdownToggle>{{g.name}}</button>
          <div ngbDropdownMenu >
            <div *ngFor="let gx of groupList">
              <button class="dropdown-item">
                <a class="dropdown-item"
                  [routerLink]="['/course', item.id, gx.id]">{{gx.name}}</a>
              </button>
            </div>
          </div>
      </div>
    </div>

    </div>
  </div>
  <br />
  <!-- HEADER End-->
<!-- Content Start-->
  <!-- Student Form -->
  <div class="alert alert-success mb-0" [hidden]="IsHidden">
    <form [formGroup]="studentForm" (ngSubmit)="createStudent(item.id, item)">
      <div class="row">
        <div class="col-md-3">
          <input type="text" formControlName="id" class="form-control" placeholder="รหัสประจำตัว"
              [(ngModel)]="studentService.selectedStudent.id">
          <div *ngIf="id.errors && isSubmit != null" [ngClass] = "'error'">
            <div *ngIf="id.errors.required">
              <font size="2" color="red">กรุณาป้อนรหัสนักศึกษา</font>
            </div>
            <div *ngIf="id.errors.pattern">
              <font size="2" color="red">รหัสนักศึกษาไม่ถูกต้อง</font>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <input type="text" formControlName="name" class="form-control" placeholder="ชื่อ-นามสกุล"
              [(ngModel)]="studentService.selectedStudent.name">
              <div *ngIf="name.errors && isSubmit != null" [ngClass] = "'error'">
                <div *ngIf="name.errors.required">
                  <font size="2" color="red">กรุณาป้อนชื่อ-สกุล</font>
                </div>
              </div>
        </div>
        <div class="col-md-2">
          <input type="text" formControlName="group" class="form-control" placeholder="กลุ่มเรียน"
              [(ngModel)]="studentService.selectedStudent.group">
          <div *ngIf="group.errors && isSubmit != null" [ngClass] = "'error'">
            <div *ngIf="group.errors.required">
              <font size="2" color="red">กรุณาป้อนกลุ่มเรียน</font>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-right">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save" aria-hidden="true"></i> บันทึก
           </button>
        </div>
      </div>
    </form>
  </div>
  <!-- CSV Form -->
  <div class="alert alert-warning mb-0" [hidden]="csvhidden">
    <input type="file" (change)="onFileSelect($event.target.files)">
    <button type="submit" class="btn btn-warning text-white" (click)="onUploadcsv(item.id)">
      <i class="fa fa-cloud-upload"></i> Upload
    </button>
    <br>
    <font size="2" color="red">*รองรับเฉพาะไฟล์ UTF-8</font><br>
    <font size="3">สามารถดูวิธีการเตรียมไฟล์ csv ได้ที่
    <a href="https://firebasestorage.googleapis.com/v0/b/classattendence-c4e10.appspot.com/o/%E0%B8%84%E0%B8%B9%E0%B9%88%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%80%E0%B8%95%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%A1%E0%B9%84%E0%B8%9F%E0%B8%A5%E0%B9%8C%20csv.pdf?alt=media&token=7a7f3a91-6d2a-467b-a6e4-59007fca7dd4">
      คู่มือเตรียมไฟล์ csv.pdf</a></font>
  </div>

  <!-- Student Score Form -->
  <div class="alert alert-primary mb-0" [hidden]="scorehidden">
    <form [formGroup]="attendanceForm" (ngSubmit)="onUpdatestdscore()">
      <div class="row">
        <div class="col-md-3">
          <input type="text" formControlName="student_id" class="form-control" placeholder="รหัสประจำตัว"
              [(ngModel)]="item.student_id">
              <div *ngIf="student_id.errors && isSubmit2 != null" [ngClass] = "'error'">
                <div *ngIf="student_id.errors.required">
                  <font size="2" color="red">กรุณาป้อนรหัสนักศึกษา</font>
                </div>
                <div *ngIf="student_id.errors.pattern">
                  <font size="2" color="red">รหัสนักศึกษาไม่ถูกต้อง</font>
                </div>
              </div>
        </div>
        <div class="col-md-2">
          <select formControlName="type" class="form-control"  [ngModel]="item.type" >
            <option value=undefined>เลือกประเภท</option>
            <option value="attendance">Attendance</option>
            <option value="quiz">Quiz</option>
            <option value="hw">Homework</option>
            <option value="lab">Lab</option>
          </select>
        </div>

        <div class="col-md-2">
          <input type="text" formControlName="time" class="form-control" placeholder="ครั้งที่"
              [(ngModel)]="item.time">
              <div *ngIf="time.errors && isSubmit2 != null" [ngClass] = "'error'">
                <div *ngIf="time.errors.required">
                  <font size="2" color="red">กรุณาป้อนครั้งที่</font>
                </div>
                <div *ngIf="time.errors.pattern">
                  <font size="2" color="red">กรุณาป้อนตัวเลข</font>
                </div>
              </div>
        </div>

        <div class="col-md-2">
          <input type="number" formControlName="score" class="form-control" placeholder="คะแนน"
              [(ngModel)]="item.score">
        </div>

        <div class="col-md-3 text-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> บันทึก
           </button>
        </div>
      </div>
    </form>
    <br>
    <font size="3" color="red">**Attendance ไม่ต้องป้อนคะแนน</font>
  </div>



<!--TABLE-->
  <div class="card">
    <div class="card-body table-responsive">
      <ngb-tabset [activeId]="tabid">
        <!--AttendanceTab-->

        <ngb-tab title="Attendance" id ="attendance">
          <ng-template ngbTabContent>
            {{test()}}
            <!--ON/OFF Switch-->
            <div class="input-group mb-3" style="padding-top: 15px;padding-left: 15px">
              <div class="input-group-prepend">
                <button *ngFor="let slot of btn_attendance" class="btn btn-outline-secondary text-dark"
                  (click)="radioCheckA(slot.id)" type="button">
                  {{slot.name}}
                </button>
                <!--span style="background-color: #ffffff"
                  class="input-group-text border border-warning text-warning">
                  <i class="fa fa-cog"></i> OPTION</span-->
              </div>

              <div class="input-group-append">
                <button type="button" (click)="switchExpandOptionA()"
                  class="btn btn-outline-warning">
                  OPTION &nbsp;&nbsp;
                  <i *ngIf="!isExpandOptionA" class="fa fa-caret-right"></i>
                  <i *ngIf="isExpandOptionA" class="fa fa-caret-left"></i>
                </button>

                <button *ngIf="isExpandOptionA" (click)="onSwitchShowGroup()"
                  class="btn btn-outline-sut" type="button">
                  กลุ่มเรียน : <b>{{showGroup.name}}</b></button>
                <button *ngIf="isExpandOptionA" (click)="onSwitchShowMissClass()"
                  class="btn btn-outline-danger" type="button">
                  ขาดเรียน : <b>{{showMissClass.name}}</b></button>
                <button *ngIf="isExpandOptionA" (click)="onSwitchShowPercentA(item.percentAtt)"
                  class="btn btn-outline-primary" type="button">
                  % คะแนน : <b>{{showPercentageA.name}}</b></button>
              </div>
            </div>


          <!---->
            <!--Table Content-->
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:70px; text-align: center">#</th>
                    <th style="width:100px; text-align: center">ID</th>
                    <th style="width:250px; text-align: center">ชื่อ-นามสกุล</th>
                    <th *ngIf="showGroup.flag" style="width:50px; text-align: center">กลุ่ม</th>
                    <th *ngIf="showMissClass.flag" style="width:70px; text-align: center">
                      <div class="text-danger" style="font-size: 12px">ขาดเรียน</div>
                    </th>
                    <th *ngFor="let schedule of scheduleAttendanceSortList ; let k = index" style="width:70px ;text-align: center">
                      <button type="button" class="btn btn-light" placement="top"
                        ngbPopover="{{schedule[0].data.date | date:'medium'}}" popoverTitle="วันที่-เวลา">
                        {{schedule[1].index}}
                      </button>
                    </th>
                    <th *ngIf="showPercentageA.flag" style="width:70px; text-align: center">
                      <div class="text-primary" style="font-size: 14px">{{item.percentAtt}}%</div>
                    </th>
                    <th class="no-border"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of studentListArr ; let j = index;">
                    <th scope="row" style="text-align: center">
                      <i class="fa fa-trash-o" (click)="onDeleteStudent(student.key)" ></i>&nbsp;{{j+1}}
                    </th>
                    <td>{{student.key}}</td>
                    <td>{{student.name}}</td>
                    <td *ngIf="showGroup.flag" style="text-align: center">{{student.group}}</td>
                    <!--/-->
                    <ng-container *ngIf="showMissClass.flag" style="text-align: center">
                      <td *ngIf="student.totalMiss >= scoreCase.high; else checkMed" class="missHigh">
                        {{student.totalMiss}}
                      </td>
                      <ng-template #checkMed>
                        <td *ngIf="(student.totalMiss >= scoreCase.med) && (student.totalMiss < scoreCase.high)
                          ; else checkLow" class="missMed">
                          {{student.totalMiss}}
                        </td>
                      </ng-template>
                      <ng-template #checkLow>
                        <td *ngIf="(student.totalMiss >= scoreCase.low) && (student.totalMiss < scoreCase.med)
                          ; else normalCase" class="missLow">
                            {{student.totalMiss}}
                        </td>
                      </ng-template>
                      <ng-template #normalCase>
                        <td class="missNormal">{{student.totalMiss}}
                        </td>
                      </ng-template>
                    </ng-container>
                    <!--/-->
                    <ng-container *ngFor="let schedule of scheduleAttendanceSortList ; let k = index" style="text-align: center">
                      <td *ngIf="student.attendance != undefined
                          && student.attendance[schedule[0].data.id] != undefined;
                          then studentScore; else errorData">
                      </td>
                      <!--/-->
                      <ng-template #errorData>
                        <td class="red"></td>
                      </ng-template>
                      <ng-template #studentScore>
                        <td *ngIf="student.attendance[schedule[0].data.id].status == 'Missed Class';
                                  else checkStatus" style="text-align: center">
                          <a placement="top"
                            ngbPopover="{{student.attendance[schedule[0].data.id].date | date:'medium'}} : {{student.attendance[schedule[0].data.id].status}}"
                            popoverTitle="รายละเอียด" class="text-danger">
                          {{student.attendance[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                      <ng-template #checkStatus>
                        <td *ngIf="student.attendance[schedule[0].data.id].status == 'Late'
                              || student.attendance[schedule[0].data.id].status == 'Leave'; else onTime" style="text-align: center">
                          <a class="text-warning" placement="top"
                            ngbPopover="{{student.attendance[schedule[0].data.id].date | date:'medium'}} : {{student.attendance[schedule[0].data.id].status}}"
                            popoverTitle="รายละเอียด">
                            {{student.attendance[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                      <ng-template #onTime>
                        <td class="att_onTime">
                          <a placement="top"
                            ngbPopover="{{student.attendance[schedule[0].data.id].date | date:'medium'}} : {{student.attendance[schedule[0].data.id].status}}"
                            popoverTitle="รายละเอียด">
                            {{student.attendance[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                    </ng-container>
                    <!--/-->
                    <ng-container *ngIf="showPercentageA.flag" style="text-align: center">
                      <td class="att_Percent">
                        {{student.percent | number:'1.2'}}
                      </td>
                    </ng-container>
                    <td style="display:none;"></td>
                  </tr>
                  <!--Total Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">Total</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngIf="showMissClass.flag"></td>
                    <td *ngFor="let schedule of count_attendancesort" style="width:70px ;text-align: center">
                      <a placement="top"
                        ngbPopover="ตรงเวลา: {{schedule.ontime}} | สาย: {{schedule.late}}
                                  | ขาดเรียน: {{schedule.miss}} | ลา: {{schedule.leave}}"
                        popoverTitle="รายละเอียด">
                          <b>{{schedule.all}}/{{studentListArr.length}}</b></a>
                      </td>
                    <td *ngIf="showPercentageA.flag"></td>
                    <td style="display:none;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

        <!--///////////////////////////////////////-->
        <!--QuizTab-->
        <ngb-tab title="Quiz" id ="quiz">
          <ng-template ngbTabContent>
            {{test2()}}
            <!--ON/OFF Switch-->
            <div class="input-group mb-3" style="padding-top: 15px;padding-left: 15px">
              <div class="input-group-prepend">
                <button *ngFor="let slot of btn_quiz" class="btn btn-outline-secondary text-dark"
                  (click)="radioCheckQ(slot.id)" type="button">
                  {{slot.name}}
                </button>
              </div>

              <div class="input-group-append">
                <button type="button" (click)="switchExpandOptionQ()"
                  class="btn btn-outline-warning">
                  OPTION &nbsp;&nbsp;
                  <i *ngIf="!isExpandOptionQ" class="fa fa-caret-right"></i>
                  <i *ngIf="isExpandOptionQ" class="fa fa-caret-left"></i>
                </button>

                <button *ngIf="isExpandOptionQ" (click)="onSwitchShowGroup()"
                  class="btn btn-outline-sut" type="button">
                  กลุ่มเรียน : <b>{{showGroup.name}}</b></button>
                <button *ngIf="isExpandOptionQ" (click)="onSwitchShowPercentQ(item.percentQuiz)"
                  class="btn btn-outline-primary" type="button">
                  % คะแนน : <b>{{showPercentageQ.name}}</b></button>
              </div>
            </div>
          <!---->
            <!--Table Content-->
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:70px; text-align: center">#</th>
                    <th style="width:100px; text-align: center">ID</th>
                    <th style="width:250px; text-align: center">ชื่อ-นามสกุล</th>
                    <th *ngIf="showGroup.flag" style="width:70px; text-align: center">กลุ่ม</th>
                    <th *ngFor="let schedule of scheduleQuizSortList ; let k = index" style="width:70px ;text-align: center">
                      <button type="button" class="btn btn-light" placement="top"
                        ngbPopover="{{schedule[0].data.date | date:'medium'}}" popoverTitle="วันที่-เวลา">
                        {{schedule[1].index}}
                      </button>
                    </th>
                    <th *ngIf="showPercentageQ.flag" style="width:70px; text-align: center">
                      <div class="text-primary" style="font-size: 14px">{{item.percentQuiz}}%</div>
                    </th>
                    <th style="width:70px; text-align: center">คะแนนรวม</th>
                    <th class="no-border"></th>
                  </tr>
                </thead>
                <tbody>
                  <!--Maxscore Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">คะแนนเต็ม</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of scheduleQuizSortList" style="width:70px ;text-align: center">
                      <a>{{schedule[0].data.totalScore}}</a>
                      </td>
                    <td *ngIf="showPercentageQ.flag"></td>
                    <th style="text-align: center">{{totalScoreQ}}</th>
                    <td style="display:none;"></td>
                  </tr>

                  <tr *ngFor="let student of studentListArr ; let j = index;">
                    <th scope="row" style="text-align: center">
                      <i class="fa fa-trash-o" (click)="onDeleteStudent(student.key)" ></i>&nbsp;{{j+1}}
                    </th>
                    <td>{{student.key}}</td>
                    <td>{{student.name}}</td>

                    <td *ngIf="showGroup.flag" style="text-align: center">{{student.group}}</td>
                    <!--/-->
                    <ng-container *ngFor="let schedule of scheduleQuizSortList ; let k = index" style="text-align: center">
                      <td *ngIf="student.quiz != undefined
                          && student.quiz[schedule[0].data.id] != undefined;
                          then studentScore; else errorData">
                      </td>
                      <!--/-->
                      <ng-template #errorData>
                        <td class="red"></td>
                      </ng-template>
                      <ng-template #studentScore>
                        <td *ngIf="student.quiz[schedule[0].data.id].score == '0';
                                  else notzero" style="text-align: center">
                          <a class="text-danger">
                          {{student.quiz[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                      <ng-template #notzero>
                        <td class="att_onTime">
                            {{student.quiz[schedule[0].data.id].score}}
                        </td>
                      </ng-template>
                    </ng-container>
                    <!--/-->
                    <ng-container *ngIf="showPercentageQ.flag" style="text-align: center">
                      <td class="att_Percent">
                        {{student.percent  | number:'1.2'}}
                      </td>
                    </ng-container>
                    <!--/-->
                    <td style="text-align: center">{{stdtotalScoreQ[j]}}</td>
                    <td style="display:none;"></td>
                  </tr>
                  <!--Total Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">Total</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of count_quizsort" style="width:70px ;text-align: center">
                      <a>{{schedule}}/{{studentListArr.length}}</a>
                      </td>
                    <td></td>
                    <td *ngIf="showPercentageQ.flag"></td>
                    <td style="display:none;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <!--///////////////////////////////////////-->
        <!--HomeworkTab-->
        <ngb-tab title="Homework" id ="homework">
          <ng-template ngbTabContent>
            {{test3()}}
            <!--ON/OFF Switch-->
            <div class="input-group mb-3" style="padding-top: 15px;padding-left: 15px">
              <div class="input-group-prepend">
                <button *ngFor="let slot of btn_hw" class="btn btn-outline-secondary text-dark"
                  (click)="radioCheckH(slot.id)" type="button">
                  {{slot.name}}
                </button>
              </div>

              <div class="input-group-append">
                <button type="button" (click)="switchExpandOptionH()"
                  class="btn btn-outline-warning">
                  OPTION &nbsp;&nbsp;
                  <i *ngIf="!isExpandOptionH" class="fa fa-caret-right"></i>
                  <i *ngIf="isExpandOptionH" class="fa fa-caret-left"></i>
                </button>

                <button *ngIf="isExpandOptionH" (click)="onSwitchShowGroup()"
                  class="btn btn-outline-sut" type="button">
                  กลุ่มเรียน : <b>{{showGroup.name}}</b></button>
                <button *ngIf="isExpandOptionH" (click)="onSwitchShowPercentH(item.percentHw)"
                  class="btn btn-outline-primary" type="button">
                  % คะแนน : <b>{{showPercentageH.name}}</b></button>
              </div>
            </div>
          <!---->
            <!--Table Content-->
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:70px; text-align: center">#</th>
                    <th style="width:100px; text-align: center">ID</th>
                    <th style="width:250px; text-align: center">ชื่อ-นามสกุล</th>
                    <th *ngIf="showGroup.flag" style="width:50px; text-align: center">กลุ่ม</th>
                    <th *ngFor="let schedule of scheduleHomeworkSortList ; let k = index" style="width:70px ;text-align: center">
                      <button type="button" class="btn btn-light" placement="top"
                        ngbPopover="{{schedule[0].data.date | date:'medium'}}" popoverTitle="วันที่-เวลา">
                        {{schedule[1].index}}
                      </button>
                    </th>
                    <th *ngIf="showPercentageH.flag" style="width:70px; text-align: center">
                      <div class="text-primary" style="font-size: 14px">{{item.percentHw}}%</div>
                    </th>
                    <th style="width:70px; text-align: center">คะแนนรวม</th>
                    <th class="no-border"></th>
                  </tr>
                </thead>
                <tbody>
                  <!--Maxscore Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">คะแนนเต็ม</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of scheduleHomeworkSortList" style="width:70px ;text-align: center">
                      <a>{{schedule[0].data.totalScore}}</a>
                      </td>
                    <td *ngIf="showPercentageH.flag"></td>
                    <th style="text-align: center">{{totalScoreH}}</th>
                    <td style="display:none;"></td>
                  </tr>

                  <tr *ngFor="let student of studentListArr ; let j = index;">
                    <th scope="row" style="text-align: center">
                      <i class="fa fa-trash-o" (click)="onDeleteStudent(student.key)" ></i>&nbsp;{{j+1}}
                    </th>
                    <td>{{student.key}}</td>
                    <td>{{student.name}}</td>
                    <td *ngIf="showGroup.flag" style="text-align: center">{{student.group}}</td>
                    <!--/-->
                    <ng-container *ngFor="let schedule of scheduleHomeworkSortList ; let k = index" style="text-align: center">
                      <td *ngIf="student.hw != undefined
                          && student.hw[schedule[0].data.id] != undefined;
                          then studentScore; else errorData">
                      </td>
                      <!--/-->
                      <ng-template #errorData>
                        <td class="red"></td>
                      </ng-template>
                      <ng-template #studentScore>
                        <td *ngIf="student.hw[schedule[0].data.id].score == '0';
                                  else notzero" style="text-align: center">
                          <a class="text-danger">
                          {{student.hw[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                      <ng-template #notzero>
                        <td class="att_onTime">
                            {{student.hw[schedule[0].data.id].score}}
                        </td>
                      </ng-template>
                    </ng-container>
                    <!--/-->
                    <ng-container *ngIf="showPercentageH.flag" style="text-align: center">
                      <td class="att_Percent">
                        {{student.percent  | number:'1.2'}}
                      </td>
                    </ng-container>
                    <!--/-->
                    <td style="text-align: center">{{stdtotalScoreH[j]}}</td>
                    <td style="display:none;"></td>
                  </tr>
                  <!--Total Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">Total</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of count_hwsort" style="width:70px ;text-align: center">
                      <a>{{schedule}}/{{studentListArr.length}}</a>
                      </td>
                    <td></td>
                    <td *ngIf="showPercentageH.flag"></td>
                    <td style="display:none;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <!--///////////////////////////////////////-->
        <!--LabTab-->
        <ngb-tab title="Lab" id ="lab">
          <ng-template ngbTabContent>
            {{test4()}}
            <!--ON/OFF Switch-->
            <div class="input-group mb-3" style="padding-top: 15px;padding-left: 15px">
              <div class="input-group-prepend">
                <button *ngFor="let slot of btn_lab" class="btn btn-outline-secondary text-dark"
                  (click)="radioCheckL(slot.id)" type="button">
                  {{slot.name}}
                </button>
              </div>

              <div class="input-group-append">
                <button type="button" (click)="switchExpandOptionL()"
                  class="btn btn-outline-warning">
                  OPTION &nbsp;&nbsp;
                  <i *ngIf="!isExpandOptionL" class="fa fa-caret-right"></i>
                  <i *ngIf="isExpandOptionL" class="fa fa-caret-left"></i>
                </button>

                <button *ngIf="isExpandOptionL" (click)="onSwitchShowGroup()"
                  class="btn btn-outline-sut" type="button">
                  กลุ่มเรียน : <b>{{showGroup.name}}</b></button>
                <button *ngIf="isExpandOptionL" (click)="onSwitchShowPercentL(item.percentLab)"
                  class="btn btn-outline-primary" type="button">
                  % คะแนน : <b>{{showPercentageL.name}}</b></button>
              </div>
            </div>
          <!---->
            <!--Table Content-->
            <div class="card-body table-responsive">
              <table class="table table-hover table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width:70px; text-align: center">#</th>
                    <th style="width:100px; text-align: center">ID</th>
                    <th style="width:250px; text-align: center">ชื่อ-นามสกุล</th>
                    <th *ngIf="showGroup.flag" style="width:50px; text-align: center">กลุ่ม</th>
                    <th *ngFor="let schedule of scheduleLabSortList ; let k = index" style="width:70px ;text-align: center">
                      <button type="button" class="btn btn-light" placement="top"
                        ngbPopover="{{schedule[0].data.date | date:'medium'}}" popoverTitle="วันที่-เวลา">
                        {{schedule[1].index}}
                      </button>
                    </th>
                    <th *ngIf="showPercentageL.flag" style="width:70px; text-align: center">
                      <div class="text-primary" style="font-size: 14px">{{item.percentLab}}%</div>
                    </th>
                    <th style="width:70px; text-align: center">คะแนนรวม</th>
                    <th class="no-border"></th>
                  </tr>
                </thead>
                <tbody>
                  <!--Maxscore Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">คะแนนเต็ม</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of scheduleLabSortList" style="width:70px ;text-align: center">
                      <a>{{schedule[0].data.totalScore}}</a>
                      </td>
                    <td *ngIf="showPercentageL.flag"></td>
                    <th style="text-align: center">{{totalScoreL}}</th>
                    <td style="display:none;"></td>
                  </tr>

                  <tr *ngFor="let student of studentListArr ; let j = index;">
                    <th scope="row" style="text-align: center">
                      <i class="fa fa-trash-o" (click)="onDeleteStudent(student.key)" ></i>&nbsp;{{j+1}}
                    </th>
                    <td>{{student.key}}</td>
                    <td>{{student.name}}</td>
                    <td *ngIf="showGroup.flag" style="text-align: center">{{student.group}}</td>
                    <!--/-->
                    <ng-container *ngFor="let schedule of scheduleLabSortList ; let k = index" style="text-align: center">
                      <td *ngIf="student.lab != undefined
                          && student.lab[schedule[0].data.id] != undefined;
                          then studentScore; else errorData">
                      </td>
                      <!--/-->
                      <ng-template #errorData>
                        <td class="red"></td>
                      </ng-template>
                      <ng-template #studentScore>
                        <td *ngIf="student.lab[schedule[0].data.id].score == '0';
                                  else notzero" style="text-align: center">
                          <a class="text-danger">
                          {{student.lab[schedule[0].data.id].score}}</a>
                        </td>
                      </ng-template>
                      <ng-template #notzero>
                        <td class="att_onTime">
                            {{student.lab[schedule[0].data.id].score}}
                        </td>
                      </ng-template>
                    </ng-container>
                    <!--/-->
                    <ng-container *ngIf="showPercentageL.flag" style="text-align: center">
                      <td class="att_Percent">
                        {{student.percent  | number:'1.2'}}
                      </td>
                    </ng-container>
                    <!--/-->
                    <td style="text-align: center">{{stdtotalScoreL[j]}}</td>
                    <td style="display:none;"></td>
                  </tr>
                  <!--Total Row-->
                  <tr>
                    <td colspan="3" style="width:70px; text-align: center">Total</td>
                    <td *ngIf="showGroup.flag"></td>
                    <td *ngFor="let schedule of count_labsort" style="width:70px ;text-align: center">
                      <a>{{schedule}}/{{studentListArr.length}}</a>
                      </td>
                    <td></td>
                    <td *ngIf="showPercentageL.flag"></td>
                    <td style="display:none;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <!--///////////////////////////////////////-->
      </ngb-tabset>
    </div>
  </div>
<!-- Content End-->

<!-- ///////////////////////////////////////////template/////////////////////////////////-->
<!-- ///////////////////////////////////////////template/////////////////////////////////-->
<!-- Button trigger modal -->
<!-- Button trigger modal -->

<!-- Modal -->
  <!--ng-template *ngIf="openEditiTemplate; else openOnEdit(editCourse)">
    Hello
  </ng-template-->
  <ng-template #editCourse let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">แก้ไขรายวิชา</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editCourseForm" (ngSubmit)="onEditCourse()">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ชื่อวิชา</label>
          <div class="col-sm-9">
            <input type="text" formControlName="name" class="form-control" [(ngModel)]="item.name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ปีการศึกษา</label>
          <div class="col-sm-3">

            <select formControlName="year" class="form-control" [ngModel]="item.year">
              <option>เลือกปีการศึกษา</option>
              <option *ngFor="let years of yearsList">{{years}}</option>
            </select>
          </div>
        <!--/div>
        <div class="form-group row"-->
          <label class="col-sm-3 col-form-label" style="text-align: right">เทอม</label>
          <div class="col-sm-3">
            <select formControlName="trimester" class="form-control"  [ngModel]="item.trimester" >
              <option>เลือกเทอม</option>
              <option *ngFor="let term of terms">{{term}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" style="font-size: 14px; text-align: center">
            <b>% คะแนนเข้าเรียน</b></label>
          <div class="col-sm-3">
            <input type="number" formControlName="percentAtt" class="form-control"
              [(ngModel)]="item.percentAtt">
          </div>
        <!--/div>
        <div class="form-group row"-->
          <label class="col-sm-3 col-form-label" style="font-size: 14px; text-align: center">
            <b>% คะแนนQuiz</b></label>
          <div class="col-sm-3">
            <input type="number" formControlName="percentQuiz" class="form-control"
              [(ngModel)]="item.percentQuiz">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" style="font-size: 14px; text-align: center">
            <b>% คะแนนการบ้าน</b></label>
          <div class="col-sm-3">
            <input type="number" formControlName="percentHw" class="form-control"
              [(ngModel)]="item.percentHw">
          </div>
        <!--/div>
        <div class="form-group row"-->
          <label class="col-sm-3 col-form-label" style="font-size: 14px; text-align: center">
            <b>% คะแนนLab</b></label>
          <div class="col-sm-3">
            <input type="number" formControlName="percentLab" class="form-control"
              [(ngModel)]="item.percentLab">
          </div>
        </div>

        <div class="row">
          <div class="col-6 text-left"></div>
          <div class="col-6 text-right">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save" aria-hidden="true"></i> บันทึก
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

<!--End-->
</div>
</div>
</div>
</div>
