<div [@routerTransition]>
  <div *ngFor="let item of data ; let i = index" style="padding-bottom: 20px">
    <div class="card">
      <div class="card-header">
        <b><i class="fa fa-pie-chart"></i> {{item[0].course.id}} : {{item[0].course.name}} 
          &nbsp;&nbsp; {{item[0].course.trimester}}/{{item[0].course.year}}</b>
      </div>
      <!--div class="input-group input-group-lg">
        <div class="input-group-prepend">
          
        </div>
      </div-->
      <div class="card-body table-responsive">
        <div class="row">
          <div class="col col-sm-4">
            <div class="card mb-3">
              <div class="card-header">
                <li>การเข้าเรียนทั้งหมด {{item[2].attendance.length}} ครั้ง</li>
                <li>จำนวนนักศึกษา {{item[1].students.length}}</li>
              </div>
              <!--div class="card-body">
                
                <li>ปีการศึกษา {{item[0].course.year}}</li>
                <li>ภาคการศึกษา {{item[0].course.trimester}}</li>
              </div-->
            </div>
          </div>
          <div class="col col-sm-8">
            <div class="card mb-3">
              <canvas baseChart height="250px" 
                  [data]="item[3].pie" [labels]="pieAttendanceLabels" 
                  [chartType]="pieAttendanceType" 
                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
